/note/
/temporary_useless_doc/
/dataset/
/base/__pycache__
/config/llm_api.yaml
/output/
/working_bench_doc/
/config/tushare_api.yaml
/config/binance_api.yaml
/*.ipynb
/*.csv
/*.h5
/*.pkl
/.vscode
/tushare